PassengerEnabled On
PassengerAppRoot /home/u860716262/domains/evaorlandini.com/public_html/retro-games

<IfModule mod_rewrite.c>
  RewriteEngine On
  Options -MultiViews
  RewriteBase /

  # Si le fichier/dossier n'existe pas, redirige vers index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
