<section>
  <h1 class="text-center blink mb-0">Nos Jeux</h1>
  <div class="h-100 d-flex flex-column justify-content-center align-items-center gap-4">
    <p class="text-center typewriter ">Select a game to play :</p>
    <%= link_to "Blackjack", blackjack_path, class: "button button-primary retro red w-50" %>
    <%= link_to "Longest Word", longest_word_path, class: "button button-primary retro green w-50" %>
    <%= link_to "Wagon Race", wagon_race_path, class: "button button-primary retro blue w-50" %>
  </div>
</section>
