<div class="container">
  <h1 class="text-center mb-4">Nos Jeux</h1>

  <div class="d-flex flex-column justify-content-center gap-3">
    <%= link_to "Blackjack", blackjack_path, class: "btn retro" %>
    <%= link_to "Longest Word", longest_word_path, class: "btn retro" %>
    <%= link_to "Wagon Race", wagon_race_path, class: "btn retro" %>
  </div>
</div>
